@* @model List<BankingProjectMVC.ViewModels.ActivityLogViewModel> *@
@model IEnumerable<BankingProjectMVC.Models.ActivityLog>

@{
    ViewBag.Title = "Activity Log";
}

<div class="container">
    <h2 class="mt-4">Activity Log</h2>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Teller</th>
                <th>Date</th>
                <th>Activity</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Teller</td>
                    <td>@item.Date.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@item.Activity</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
