@model IEnumerable<BankingProjectMVC.Models.Statement>

<div class="form-group">
                <label  class="control-label" >Current Balance</label>
                <input  class="form-control" value="@ViewBag.balance" readonly/>
                <span  class="text-danger" ></span>
            </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WithdrawAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepositAmount)
            </th>
            
            
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="color: @(item.Status ? "green" : "red")">
            <td>
                @Html.DisplayFor(modelItem => item.Mode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WithdrawAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositAmount)
            </td>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            
        </tr>
}
    </tbody>
</table>
